/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	font-size: 13px;
	line-height: 18px;
}

a {
	color: #666;
}

/* root-page */
h1 {
	font-size: 2em;
	margin: 20px 0;
}

.root-p {
	margin: 33px;
	font-size: 13px;
}

/* index-page */
#list {
	margin: 0 0 20px 5px;
}

.title {
	padding: 0 75px 8px;
}

.body {
	padding: 0 185px 8px;
}

td {
	padding: 1px 5px 7px;
}

.form > h2 {
	padding-bottom: 15px;
}

.field {
	margin-bottom: 10px;
}

.field > input, .field > textarea {
	padding: 2px;
}

input[type="submit"] {
	display: inline-block;
	margin-bottom: 10px;
	padding: 1px 7px 0;
	text-align: center;
}

/* show-page */
.detail {
	margin: 0 0 35px 35px;
}

.message {
	margin: 15px 0 30px 35px;
	color: #097;
	letter-spacing: 0.05em;
}


















