/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	font-size: 13px;
	line-height: 18px;
}

/* root-page */
h1 {
	font-size: 2em;
	margin: 20px 0;
}

.root-p {
	margin: 33px;
	font-size: 13px;
}

.root-p > a {
	color: #666;
}

/* index-page */
#list {
	margin: 0 0 20px 5px;
}

.title {
	padding: 0 80px 10px;
}

.body {
	padding: 0 180px 10px;
}

tbody > .title, tbody > .body {
	text-align: left;
}

#form {
	margin: 0 0 0 5px;
}

#form > h2 {
	padding-bottom: 15px;
}

.field {
	margin-bottom: 10px;
}

input[type="submit"] {
	display: block;
}


















